@font-face {
  font-family: 'OCR-A BT';
  font-style: normal;
  font-weight: normal;
  src: local('OCR-A BT'), url('./fonts/OCR-a___.woff') format('woff');
}

@font-face {
  font-family: 'Oxygen Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Oxygen Mono Regular'), url('./fonts/OxygenMono-Regular.woff') format('woff');
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Disables unnecessary horizontal scroll on mobile */
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

/* Base color scheme, fonts, etc*/
body {
  min-height: 100vh;
  background-color: #1a1c20;
  color: white;
  font-family: monospace;
  position: relative; /* Disables unnecessary horizontal scroll on mobile */
  overflow: hidden; /* Disables unnecessary horizontal scroll on mobile */
}

button:hover {
  cursor: pointer;
}

@media (min-width: 800px) {
  .hide-on-desktop {
    display: none;
  }
}





/* TODO: Play around with sizing some more with vw in the different screen sizes */
.sidebar {
  margin: 0;
  padding: 0;
  width: 10vw;
  position: fixed;
  right: 0;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.sidebar a {
  display: block;
  font-size: 1vw;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.no-hover) {
  color: #3bb9ac;
  border-left: 5px solid #3bb9ac;
}

.sidebar-contact-me {
  margin-top: 50px;
}

.sidebar a.no-hover {
  /* Leave blank */
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.socials a {
  transition: transform 0.3s ease;
}

.socials img {
  height: 23px;
  width: 23px;
}

.socials a:hover {
  transform: scale(1.5);
}






.padding-between-sections {
  height: 15vh;
}

.section-title {
  text-align: center;
  font-size: 60px;
}

.generic-section {
  font-size: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.5vh;
}






.header-asteroids {
  height: 65vh; 
}

.header { 
  height:35vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  row-gap: 10px;
  padding-left: 10vw;
}

.header h1 {
  font-size: 60px;
}

.header h2 {
  font-size: 40px;
  padding-bottom: 10vh;
}






.about-me {
  max-width: 50vw;
  margin: 0 auto;
  text-align: left;
}


.timeline {
  max-width: 70vw;
}








/* Puts together all the projects into one container */
.projects-showcase {
  padding-top: 50px;
  display: flex;
  flex-flow: column;
  row-gap: 75px;
  justify-content: center;
}

/* An individual project container */
.project {
  display: flex;
  flex-flow: row;
  column-gap: 70px;
  justify-content: center;
}

.project img {
  height: 400px;
  width: 450px;
  border-radius: 12px;
}

/* Reserved for phone images/gifs which may be less wide */
.project .img-phone {
  width: 200px;
  margin-left: 250px;
}

.title-and-widgets {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  column-gap: 12px;
  width: 32vw;
}

.description {
  text-align: left;
}

.description > p {
  max-width: 35vw;
  text-align: left;
  padding: 10px 0px 20px 0px;
}

.glowing-button {
  color: white;
  background-color: #0f0f0f;
  border-radius: 12px;
  font-size: 18px;
  font-family: "OCR-A BT";
  box-shadow: 0 0 4px #fff;
  transition: transform 0.2s ease;
}

.glowing-button img {
  height: 20px;
  width: 20px;
  padding-right: 5px;
  padding-top: 3px;
}

.glowing-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px white;
}

.glowing-button.blue {
  box-shadow: 0 0 10px #0072b1;
  border: 2px solid #0072b1;
}

.glowing-button.blue:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #0072b1;
}

.glowing-text {
  background-color: #e8b923;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
}

.glowing-text.silver {
  background-color: #C0C0C0;
}






/* Contains the buttons at the bottom of the page */
.bottom {
  width: 100vw;
  background-color: #16181b;
}

.bottom h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 10px;
}

.contact-container {
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}

.contact-container button {
  font-family: "Oxygen Mono Regular";
}